<div class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        
        <app-user-header></app-user-header>
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <app-user-sidebar></app-user-sidebar>>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-12 col-12 align-self-center">
                        
                        <div style="display: inline-block; margin-top: 1.5%; margin-left: 10%; float: right; width: 100%;"> 
                            <h3 class="" style="display: inline-block; font-weight: 700; color: black;">Search Products</h3>
                            <form class="" style="float: right;">
                              <div class="form-group mx-sm-3 mb-2" style="float: left; margin-right: 0px !important;">
                                <label for="inputPassword2" class="sr-only">Click here to Search Products</label>
                                <input type="search" class="form-control" id="inputPassword2" placeholder="Search Here..." style="border-radius: none !important; height: 56px; width: 45vw;">
                              </div>
                              <button type="submit" class="btn btn-lg btn-primary mb-2" style="border-radius: 0px 4px 4px 0px; background:#f66c43; border-color:#f66c43;">Search</button>
                            </form>
                        </div>
                    </div>
                    
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="container-fluid">
                        <h4 style="text-decoration: underline; display: inline-block;">Products wishlist: </h4>
                        <button class="btn cart-btn-small">Clear Wishlist</button>
                    </div>
                </div>
                <div class="row">
                    <!-- Column -->
                    <div class="col-md-4 ">
                        <div class="card">
                            <div class="card-top">
                                <span class="label label-warning" style="background: #f66c43;">NEW</span>
                                <span class="fa fa-icon-heart"></span>
                            </div>
                            <br>
                            <img src="../assets/Images/wooden_sofa.jpg" class="img img-responsive">
                            
                            <div class="card-bottom">
                                <h4 style="">Wooden Chair</h4><br>
                                <p>220.0 <span class="site-label"> Taobao</span></p>
                                <div class="card-buttons">
                                    <button class="btn btn-lg btn-outline btn-default">Book Now</button>
                                    &nbsp;&nbsp;
                                    <button class="btn btn-default cart-btn-small"><span>C</span></button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="card">
                            <div class="card-top">
                                <span class="label label-warning" style="background: #f66c43;">NEW</span>
                                <span class="fa fa-icon-heart"></span>
                            </div>
                            
                            <img src="../assets/Images/wooden_sofa.jpg" class="img img-responsive">
                            <br>
                            <div class="card-bottom">
                                <h4 style="">Wooden Chair</h4><br>
                                <p>220.0 <span class="site-label"> Taobao</span></p>
                                <div class="card-buttons">
                                    <button class="btn btn-lg btn-outline btn-default">Book Now</button>
                                    &nbsp;&nbsp;
                                    <button class="btn btn-default cart-btn-small"><span>C</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="card">
                            <div class="card-top">
                                <span class="label label-warning" style="background: #f66c43;">NEW</span>
                                <span class="fa fa-icon-heart"></span>
                            </div>
                            <br>
                            <img src="../assets/Images/wooden_sofa.jpg" class="img img-responsive">
                            
                            <div class="card-bottom">
                                <h4 style="">Wooden Chair</h4><br>
                                <p>220.0 <span class="site-label"> Taobao</span></p>
                                <div class="card-buttons">
                                    <button class="btn btn-lg btn-outline btn-default">Book Now</button>
                                    &nbsp;&nbsp;
                                    <button class="btn btn-default cart-btn-small"><span>C</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                

                <div class="row">
                    <!-- Column -->
                    <div class="col-md-4 ">
                        <div class="card">
                            <div class="card-top">
                                <span class="label label-warning" style="background: #f66c43;">NEW</span>
                                <span class="fa fa-icon-heart"></span>
                            </div>
                            <br>
                            <img src="../assets/Images/wooden_sofa.jpg" class="img img-responsive">
                            
                            <div class="card-bottom">
                                <h4 style="">Wooden Chair</h4><br>
                                <p>220.0 <span class="site-label"> Taobao</span></p>
                                <div class="card-buttons">
                                    <button class="btn btn-lg btn-outline btn-default">Book Now</button>
                                    &nbsp;&nbsp;
                                    <button class="btn btn-default cart-btn-small"><span>C</span></button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="card">
                            <div class="card-top">
                                <span class="label label-warning" style="background: #f66c43;">NEW</span>
                                <span class="fa fa-icon-heart"></span>
                            </div>
                            <br>
                            <img src="../assets/Images/wooden_sofa.jpg" class="img img-responsive">
                            
                            <div class="card-bottom">
                                <h4 style="">Wooden Chair</h4><br>
                                <p>220.0 <span class="site-label"> Taobao</span></p>
                                <div class="card-buttons">
                                    <button class="btn btn-lg btn-outline btn-default">Book Now</button>
                                    &nbsp;&nbsp;
                                    <button class="btn btn-default cart-btn-small"><span>C</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="card">
                            <div class="card-top">
                                <span class="label label-warning" style="background: #f66c43;">NEW</span>
                                <span class="fa fa-icon-heart"></span>
                            </div>
                            <br>
                            <img src="../assets/Images/wooden_sofa.jpg" class="img img-responsive">
                          
                            <div class="card-bottom">
                                <h4 style="">Wooden Chair</h4><br>
                                <p>220.0 <span class="site-label"> Taobao</span></p>
                                <div class="card-buttons">
                                    <button class="btn btn-lg btn-outline btn-default">Book Now</button>
                                    &nbsp;&nbsp;
                                    <button class="btn btn-default cart-btn-small"><span>C</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>

                <div class="row">
                    <!-- Column -->
                    <div class="col-md-4 ">
                        <div class="card">
                            <div class="card-top">
                                <span class="label label-warning" style="background: #f66c43;">NEW</span>
                                <span class="fa fa-icon-heart"></span>
                            </div>
                            <br>
                            <img src="../assets/Images/wooden_sofa.jpg" class="img img-responsive">
                            
                            <div class="card-bottom">
                                <h4 style="">Wooden Chair</h4><br>
                                <p>220.0 <span class="site-label"> Taobao</span></p>
                                <div class="card-buttons">
                                    <button class="btn btn-lg btn-outline btn-default">Book Now</button>
                                    &nbsp;&nbsp;
                                    <button class="btn btn-default cart-btn-small"><span>C</span></button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="card">
                            <div class="card-top">
                                <span class="label label-warning" style="background: #f66c43;">NEW</span>
                                <span class="fa fa-icon-heart"></span>
                            </div>
                            <br>
                            <img src="../assets/Images/wooden_sofa.jpg" class="img img-responsive">
                            
                            <div class="card-bottom">
                                <h4 style="">Wooden Chair</h4><br>
                                <p>220.0 <span class="site-label"> Taobao</span></p>
                                <div class="card-buttons">
                                    <button class="btn btn-lg btn-outline btn-default">Book Now</button>
                                    &nbsp;&nbsp;
                                    <button class="btn btn-default cart-btn-small"><span>C</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="card">
                            <div class="card-top">
                                <span class="label label-warning" style="background: #f66c43;">NEW</span>
                                <span class="fa fa-icon-heart"></span>
                            </div>
                          
                            <img src="../assets/Images/wooden_sofa.jpg" class="img img-responsive">
                            <br>
                            <div class="card-bottom">
                                <h4 style="">Wooden Chair</h4><br>
                                <p>220.0 <span class="site-label"> Taobao</span></p>
                                <div class="card-buttons">
                                    <button class="btn btn-lg btn-outline btn-default">Book Now</button>
                                    &nbsp;&nbsp;
                                    <button class="btn btn-default cart-btn-small"><span>C</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer" style="padding-left: 3%; padding-right: 3%;">
                XHSIOW's Ecommerce Site &copy; 2020. <span style="float: right; ">Designed & Developed by <a target="_blank" href="https://fiverr.com/hashi_shah" style="color: #f66c43;">Hashir Shah</a></span>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
</div>>