<div class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        
        <app-user-header></app-user-header>
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <app-user-sidebar></app-user-sidebar>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-12 col-12 align-self-center">
                        
                        <div style="display: inline-block; margin-top: 1.5%; margin-left: 10%; float: right; width: 100%;"> 
                            <h3 class="" style="display: inline-block; font-weight: 700; color: black;">Search Products</h3>
                            <form class="" style="float: right;">
                              <div class="form-group mx-sm-3 mb-2" style="float: left; margin-right: 0px !important;">
                                <label for="inputPassword2" class="sr-only">Click here to Search Products</label>
                                <input type="search" class="form-control" id="inputPassword2" placeholder="Search Here..." style="border-radius: none !important; height: 56px; width: 45vw;">
                              </div>
                              <button type="submit" class="btn btn-lg btn-primary mb-2" style="border-radius: 0px 4px 4px 0px; background:#f66c43; border-color:#f66c43;">Search</button>
                            </form>
                        </div>
                    </div>
                    
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                   <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-actions">
                                    <a class="" data-action="collapse"><i class="ti-minus"></i></a>
                                    <a class="btn-minimize" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
                                    <a class="btn-close" data-action="close"><i class="ti-close"></i></a>
                                </div>
                                <h4 class="card-title m-b-0">Top Up Account</h4>
                            </div>
                            <div class="card-body collapse show">     
                                <div class="card-body">
                                    <form class="form-material m-t-40">
                                        <div class="form-group">
                                            <label>Enter the amount You sent to us via bank. <span class="help"></span></label>
                                            <input type="text" class="form-control form-control-line" value="amount here..."> </div>

                                            <div class="form-group">
                                            <label>Enter the transaction number <span class="help"></span></label>
                                            <input type="text" class="form-control form-control-line" value="trx number here..."> </div>
                                        
                                        <div class="form-group">
                                            <label>Upload proof of payment here</label>
                                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                                <div class="form-control" data-trigger="fileinput"> <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div> <span class="input-group-addon btn btn-default btn-file"> <span class="fileinput-new">Select file</span>                                            <span class="fileinput-exists">Change</span>
                                                <input type="file" name="..."> </span> <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a> </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Page Content-->
                <!-- ============================================================== -->
                
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer" style="padding-left: 3%; padding-right: 3%;">
                XHSIOW's Ecommerce Site &copy; 2020. <span style="float: right; ">Designed & Developed by <a target="_blank" href="https://fiverr.com/hashi_shah" style="color: #f66c43;">Hashir Shah</a></span>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    
</div>